{% include "base.html" %}
{% block head %}

    <meta charset="UTF-8">
    <title>DeepPD</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

    <!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="static/css/style.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <a class="navbar-brand logo-image" style="margin-top: -36px;" href="/initial"><img src="static/images/Logo.png" alt="alternative"></a>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="background-color: #113448; width: 120%; height: 100%; margin-right: -80px; margin-left: -200px; margin-top: -35px;">

            <br><br><br><br><br><br>
            <ul class="menu" style="margin-right: 190px;">
                <li>
                    <a onclick="savefinalimage()" style="color: white; margin-left: 150px; "   >Download</a>	<i class="bx bxs-download" style=" color: white;" ></i>
                </li>
            </ul>
        </div>
    </nav>
                    
    <div class="image-container">
        <img id="generated_final_image" src="../static/images/out.png" alt="your_image_alt_text">
    </div>    


    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>                

    <div class="wrapper">

        <input type="radio" name="select" id="whiteskin">
        <input type="radio" name="select" id="brownskin">
        <input type="radio" name="select" id="darkbrownskin">

        <label for="whiteskin" class="option whiteskin">
            <div class="dot"></div>
            <span onclick="whiteskin()" >White</span>           
        </label>

        <br>

        <label for="brownskin" class="option brownskin">
            <div class="dot"></div>
            <span onclick="brownskin()" >Brown</span>      
        </label>

        <br>

        <label for="darkbrownskin" class="option darkbrownskin">
            <div class="dot"></div>
            <span onclick="darkbrownskin()" >Dark Brown</span>
        </label>

    </div>


    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="static/js/jquery.min.js"></script> 
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/swiper.min.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="static/js/morphext.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script> 
    <script src="static/js/validator.min.js"></script>
    <script src="static/js/scripts.js"></script> 
    <script src="static/js/myscript.js"></script>


<script>

function skinChangeCompleted(){
    location.reload();
}

let isWhite = false;
let isBrown = false;
let isDBrown = false;
function sendSkinColor() {
    // Create an object with the boolean values
    const skinData = {
        isWhite: isWhite,
        isBrown: isBrown,
        isDBrown: isDBrown
    };

    // Send the data to the Flask app route using AJAX
    $.ajax({
        type: 'POST',
        url: '/skins',
        data: JSON.stringify(skinData),
        contentType: 'application/json',
        success: function(response) {
            console.log(response);
            skinChangeCompleted();
        },
        error: function(error) {
            console.error(error);
        }
    });
}

function whiteskin(){
    isWhite = true;
    isBrown = false;
    isDBrown = false;
    console.log("whiteskin called");
    sendSkinColor();
}
function brownskin(){
    isBrown = true;
    isWhite = false;
    isDBrown = false;
    console.log("brownskin called");
    sendSkinColor();
}
function darkbrownskin(){
    isDBrown = true;
    isWhite = false;
    isBrown = false;
    console.log("darkbrownskin called");
    sendSkinColor();
}

</script>

{% endblock %}